body {
	min-width: 1190px;
	font-family: PingFangSC-Ultralight
}

.pc {
	display: block
}

.banenrboxs, .mobile {
	display: none
}

.dk-blue {
	color: #09bcc5
}

.mtop90 {
	margin-top: 90px
}

.mtop10 {
	margin-top: 10px
}

.u-btn {
	text-align: center
}

.u-btn>.btn, .u-btn>a {
	display: inline-block;
	height: 88px;
	font-size: 32px;
	line-height: 88px;
	color: #fff !important;
	background: #08bcc5;
	overflow: hidden
}

.u-btn>* {
	text-align: center
}

.u-btn>.group-1 {
	width: 280px;
	height: 60px;
	font-size: 20px;
	line-height: 60px
}

.u-btn>.group-2 {
	width: 220px;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	border-radius: 200px
}

.u-btn>.w340 {
	width: 340px
}

.u-btn>.rds-hafl {
	border-radius: 200px
}

.u-btn>.btn-tip {
	font-size: 14px
}

.u-btn>.btn:hover, .u-btn>a:hover {
	background: #01b3bc;
	transition: .3s linear;
	-webkit-transition: .3s linear
}

.js-house-img {
	width: 100%
}

.house-box .onlineroom {
	width: 900px
}

.house-box .close {
	position: absolute;
	left: 100%;
	width: 42px;
	height: 42px;
	background: url(img/public-20171221-FjMtPYkBekMA4Mg3Je-YwYl1lwrF.png)
		/*tpa=https://public.wutongwan.org/public-20171221-FjMtPYkBekMA4Mg3Je-YwYl1lwrF*/;
	opacity: 1
}

.method, .procise, .yzjm {
	display: block;
	overflow: hidden
}

.banner {
	position: relative
}

.banner img {
	display: block;
	width: 100%
}

.banner .ban {
	height: 500px;
	background: url(img/public-20180602-Fj0xD4ACf_aWvGBKEvpokj0ZgENP.png)
		/*tpa=https://public.wutongwan.org/public-20180602-Fj0xD4ACf_aWvGBKEvpokj0ZgENP*/
		 no-repeat top center
}

.banner .ban img {
	position: relative;
	top: 97px;
	width: 580px;
	height: auto;
	margin: 0 auto
}

.banner img.mobile {
	display: none
}

.entrust_btn {
	position: absolute;
	top: 330px;
	left: 0;
	width: 100%;
	text-align: center
}

.entrust_btn a {
	color: #fff
}

.right_now_pc {
	position: relative;
	left: -6px;
	width: 150px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
	font-size: 16px;
	color: #fff;
	background: rgba(0, 166, 174, .9);
	border-radius: 50px
}

.banner a:hover {
	color: #fff;
	background: rgba(9, 188, 197, .9);
	transition: .2s linear;
	-webkit-transition: .2s linear
}

.center {
	width: 1200px;
	margin: 0 auto;
	text-align: center
}

.tit {
	margin-top: 75px
}

.m-title-h2:after {
	content: "";
	position: relative;
	top: -3px;
	display: inline-block;
	width: 44px;
	height: 3px;
	background: #3dbdc7;
	border-radius: 50px
}

.m-title-h2 h2 {
	margin-bottom: 10px;
	font-size: 32px;
	text-align: center;
	color: #7e7d7e;
	font-weight: 500;
	line-height: 32px
}

.tit p {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #999
}

p.english-title {
	font-size: 24px;
	opacity: .58;
	letter-spacing: 3px;
	line-height: 24px;
	font-family: PingFangSC-Ultralight
}

.desc {
	letter-spacing: 6px
}

.m-sws .steps {
	margin-top: 55px;
	padding: 20px 105px;
	overflow: hidden
}

.steps {
	position: relative
}

.steps:before {
	content: "";
	position: absolute;
	top: 139px;
	left: 220px;
	width: 62%;
	border: 1px solid #dedede
}

.m-sws .steps li {
	float: left;
	position: relative;
	width: 25%;
	height: 120px;
	padding-top: 65px;
	text-align: center
}

.m-sws .steps li:last-child {
	padding-left: 0
}

.m-sws .steps li:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	width: 65px;
	height: 65px;
	margin-left: -32.5px
}

.m-sws .steps li:before {
	content: "";
	position: absolute;
	top: 90%;
	left: 46%;
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	margin-left: -5px
}

.m-sws .steps li.l1:before {
	background: url(img/public-20180530-FuYqQ0IIK4pRC4zEOyNq2sL8iss4.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FuYqQ0IIK4pRC4zEOyNq2sL8iss4*/
		 no-repeat center
}

.m-sws .steps li.l2:before {
	background: url(img/public-20180530-Fntep_Ox51VzYTxopnRRiDwyA-L-.png)
		/*tpa=https://public.wutongwan.org/public-20180530-Fntep_Ox51VzYTxopnRRiDwyA-L-*/
		 no-repeat center
}

.m-sws .steps li.l3:before {
	background: url(img/public-20180530-FszRYya6lg3Yixy2geD45x4QpO-l.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FszRYya6lg3Yixy2geD45x4QpO-l*/
		 no-repeat center
}

.m-sws .steps li.l4:before {
	background: url(img/public-20180530-FiiWIUaEQwFnW0nakpJuBOKrtBqF.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FiiWIUaEQwFnW0nakpJuBOKrtBqF*/
		 no-repeat center
}

.m-sws .steps li .name {
	font-size: 16px
}

.m-sws .steps li .num {
	position: absolute;
	top: 105%;
	left: 0;
	display: block;
	width: 100%;
	font-size: 48px;
	color: #dadce0;
	text-align: center;
	opacity: .3
}

.m-sws .steps li.l1:after {
	background: url(img/public-20180530-Fm_fdlWM68CP9I9cixgGrKp56cfc.png)
		/*tpa=https://public.wutongwan.org/public-20180530-Fm_fdlWM68CP9I9cixgGrKp56cfc*/
		 no-repeat scroll center
}

.m-sws .steps li.l2:after {
	background: url(img/public-20180530-FkJtzObiotJxw90W9e8Dyjk_u_uX.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FkJtzObiotJxw90W9e8Dyjk_u_uX*/
		 no-repeat scroll center
}

.m-sws .steps li.l3:after {
	background: url(img/public-20180530-Fq-Jgd_toIv08LY5pObcBQxvUTId.png)
		/*tpa=https://public.wutongwan.org/public-20180530-Fq-Jgd_toIv08LY5pObcBQxvUTId*/
		 no-repeat scroll center
}

.m-sws .steps li.l4:after {
	background: url(img/public-20180530-FkPO8bzDg3DgMIQpYbyzRVrB4WBU.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FkPO8bzDg3DgMIQpYbyzRVrB4WBU*/
		 no-repeat scroll center
}

.guide-swiper {
	position: relative;
	height: 402px;
	margin-top: 45px;
	background: url(img/public-20180602-Fq4QhFaLMJ-ucd5T-14Oqr7-SX9p.png)
		/*tpa=https://public.wutongwan.org/public-20180602-Fq4QhFaLMJ-ucd5T-14Oqr7-SX9p*/
		 no-repeat scroll center
}

.guide-swiper:hover .swiper-btn {
	display: block
}

.swiper-container {
	width: 740px;
	padding-top: 40px
}

.guide-box {
	height: 320px;
	margin: 0 auto;
	background: rgba(255, 255, 255, .85)
}

.guide-box h3 {
	margin-top: 55px;
	margin-bottom: 25px;
	font-size: 28px;
	letter-spacing: 3px;
	line-height: 30px;
	text-align: center;
	color: #7e7d7e;
	font-weight: 500
}

.guide-box p {
	font-size: 16px;
	color: #7e7d7e;
	text-align: center;
	line-height: 34px
}

.swiper-container-horizontal>.swiper-pagination {
	bottom: 55px
}

.swiper-button-prev {
	left: 95px
}

.swiper-button-next {
	right: 95px
}

.swiper-button-prev {
	background-image:
		url(img/public-20180530-FmvWq8ssRKEoe5WwWUuoSUqfF0Ry.png)
		/*tpa=https://public.wutongwan.org/public-20180530-FmvWq8ssRKEoe5WwWUuoSUqfF0Ry*/
}

.swiper-button-next {
	background-image:
		url(img/public-20180530-Fj-GjRx-nrwVxKUVxqrfWBJcnZdI.png)
		/*tpa=https://public.wutongwan.org/public-20180530-Fj-GjRx-nrwVxKUVxqrfWBJcnZdI*/
}

.swiper-button-next, .swiper-button-prev {
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: auto
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	transition: all ease-in-out .2s
}

.swiper-pagination-bullet-active {
	width: 25px;
	background: #3dbdc7;
	border-radius: 45px
}

.service-time-area {
	margin-top: -150px;
	padding-top: 210px;
	padding-bottom: 45px;
	text-align: center;
	background: #f8f8f8
}

.service-time-area p {
	text-align: center
}

.service-time-area a {
	display: inline-block;
	width: 345px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 35px;
	color: #fff;
	font-size: 30px;
	background: rgba(0, 166, 174, .9);
	border-radius: 50px
}

.service-time-area a:hover {
	background: rgba(9, 188, 197, .9)
}

.service-time, .trusteeship-tip {
	font-size: 18px;
	color: #999;
	text-align: center;
	line-height: 18px
}

.tel-num {
	margin: 15px 0;
	font-size: 40px;
	color: #999;
	line-height: 40px
}

.video-wrap {
	margin-top: 45px;
	padding: 32px 56px;
	background: #f8f8f8;
	box-shadow: 0 9px 17px 0 rgba(0, 0, 0, .06)
}

.video-play-m {
	position: relative;
	float: left;
	width: 864px;
	background: #fff
}

.video-list {
	height: 486px
}

.my-video {
	display: none;
	width: 100%;
	height: 100%
}

#my_video1 {
	display: block
}

.init-play-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/public-20180531-FpK2puHpwCywkjdXxYKzbCBmOSpQ.png)
		/*tpa=https://public.wutongwan.org/public-20180531-FpK2puHpwCywkjdXxYKzbCBmOSpQ*/
		 no-repeat center center
}

.init-play-btn {
	position: absolute;
	bottom: 55px;
	left: 35px;
	width: 70px;
	height: 70px;
	background: url(img/public-20180531-Ft3xtMJwt6XsRpzXhQC5dWd4zZxq.png)
		/*tpa=https://public.wutongwan.org/public-20180531-Ft3xtMJwt6XsRpzXhQC5dWd4zZxq*/
		 no-repeat center center;
	cursor: pointer
}

.init-play-btn:hover {
	background: url(img/public-20180531-Fjjd7_Ng8WVap1nKvayuXfxpW4wf.png)
		/*tpa=https://public.wutongwan.org/public-20180531-Fjjd7_Ng8WVap1nKvayuXfxpW4wf*/
		 no-repeat center center
}

.video-tab-m {
	float: right;
	width: 192px;
	min-height: 486px
}

.video-tab-m h3 {
	padding-bottom: 6px;
	font-size: 16px;
	color: #999
}

.video-item {
	overflow: hidden;
	position: relative;
	height: 108px;
	margin-bottom: 10px;
	background: #fff;
	cursor: pointer
}

.first-video {
	background: url(img/public-20180531-FjxKgkTB4i062OB7duqrwz-sI2Ac.png)
		/*tpa=https://public.wutongwan.org/public-20180531-FjxKgkTB4i062OB7duqrwz-sI2Ac*/
		 no-repeat center
}

.second-video {
	background: url(img/public-20180601-Frd7uhG_8spQyUilAqsNmLEfl5GX.png)
		/*tpa=https://public.wutongwan.org/public-20180601-Frd7uhG_8spQyUilAqsNmLEfl5GX*/
		 no-repeat center
}

.third-video {
	background: url(img/public-20180601-FqRrA6FObwCz_KaPCOGVmyk13M51.png)
		/*tpa=https://public.wutongwan.org/public-20180601-FqRrA6FObwCz_KaPCOGVmyk13M51*/
		 no-repeat center center
}

.fourth-video {
	background: url(img/public-20180601-FvVgwhVQrIeU4pf8gtPcSr6tU71C.png)
		/*tpa=https://public.wutongwan.org/public-20180601-FvVgwhVQrIeU4pf8gtPcSr6tU71C*/
		 no-repeat center;
	margin-bottom: 0
}

.video-tip {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	background: rgba(0, 0, 0, .55);
	text-align: center;
	color: #fff
}

.play-state-layer {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	border: 2px solid #3dbdc7;
	background: rgba(0, 0, 0, .75)
		url(img/public-20180531-Fv1bDVwS3_XiAnu6pOx2Ukz81uzR.png)
		/*tpa=https://public.wutongwan.org/public-20180531-Fv1bDVwS3_XiAnu6pOx2Ukz81uzR*/
		 no-repeat center center
}

.news-tab {
	margin-top: 65px;
	margin-bottom: 35px;
	text-align: center
}

.news-tab span {
	position: relative;
	font-size: 32px;
	color: #7e7d7e;
	cursor: pointer
}

.news-tab span:hover {
	color: #2dbefb
}

.first-news-tab {
	margin-right: 120px
}

span.click-active {
	color: #3dbdc7
}

.click-active:after {
	content: "";
	position: absolute;
	left: 35px;
	bottom: -3px;
	display: block;
	width: 54px;
	height: 3px;
	background: #3dbdc7;
	border-radius: 55px
}

span.click-active:hover {
	color: #3dbdc7
}

.media-news {
	display: none
}

.news-list {
	width: 1077px;
	margin: 0 auto;
	padding-bottom: 25px
}

.news-item {
	position: relative;
	float: left;
	width: 258px;
	margin-right: 15px;
	box-shadow: 0 19px 30px -10px rgba(0, 0, 0, .08);
	cursor: pointer
}

.last-news-item {
	margin-right: 0
}

.news-item dt img {
	display: block;
	width: 100%;
	height: auto
}

.news-item dd {
	padding: 15px 10px;
	font-size: 14px
}

.news-item dd a {
	color: #7e7d7e
}

.entrust-m-wrap {
	position: relative;
	height: 500px;
	margin-top: 65px;
	background: url(img/public-20180602-Fr-OfKszOvWrwJlNSrBMBFtXg4Rk.jpg)
		/*tpa=https://public.wutongwan.org/public-20180602-Fr-OfKszOvWrwJlNSrBMBFtXg4Rk*/
		 no-repeat center center
}

.entrust-form {
	width: 550px;
	margin: 0 auto;
	padding-top: 45px
}

.entrust-form h2 {
	position: relative;
	margin-bottom: 45px;
	color: #fff;
	text-align: center;
	font-size: 32px;
	font-weight: 500
}

.entrust-form h2:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 248px;
	width: 55px;
	height: 4px;
	background: #3dbdc7;
	border-radius: 100px
}

.form-wrap {
	position: relative;
	margin-bottom: 15px
}

.form-wrap input {
	border: none;
	outline: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	border-radius: 3px;
	font-size: 16px;
	background: rgba(108, 108, 112, .68);
	color: #e0e0e0
}

.owner-name-wrap {
	float: left;
	width: 248px
}

.phone-num-wrap {
	float: right;
	width: 288px
}

.pic-code-wrap {
	position: relative;
	display: none
}

.pic-code-wrap a, .pic-code-wrap img {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	cursor: pointer
}

.pic-code-wrap img {
	width: 150px
}

.pic-code-wrap a {
	right: 155px;
	color: #e0e0e0
}

.entrust-submit-btn {
	width: 358px;
	height: 52px;
	line-height: 52px;
	margin: 15px auto;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	border-radius: 50px;
	color: #e0e0e0;
	border: 1px solid #e0e0e0
}

.submit-btn-active {
	background: rgba(61, 189, 199, .8);
	border: none
}

.entrust-tip {
	text-align: center;
	color: #e0e0e0;
	font-size: 14px
}

.entrust-tip span {
	color: #3dbdc7
}

.get-note-btn, .timer-area {
	position: absolute;
	top: 12px;
	right: 20px;
	width: 82px;
	height: 24px;
	line-height: 24px;
	border-radius: 50px;
	font-size: 12px;
	text-align: center
}

.get-note-btn {
	background: #3dbdc7;
	cursor: pointer;
	color: #f8f8f8
}

.get-note-btn:hover {
	background: #59c8cb;
	color: #fff
}

.timer-area {
	display: none;
	border: 1px solid #fff;
	color: #fff
}

.entrust-form-tip {
	display: none;
	margin-top: 5px;
	color: #ff6565;
	font-size: 14px;
	padding-left: 18px;
	background: url(img/public-20180602-FmJ7F8OE6vST5e9pG1UA43OMxda5.png)
		/*tpa=https://public.wutongwan.org/public-20180602-FmJ7F8OE6vST5e9pG1UA43OMxda5*/
		 no-repeat left center
}

.required-tip {
	box-sizing: border-box;
	width: 120px;
	margin: 0 auto 15px
}

.entrust-success-tip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: 0 0;
	z-index: 100
}

.entrust-success-box {
	width: 356px;
	height: 220px;
	margin: 122px auto 0;
	border-radius: 3px;
	background: #fff
}

.success-box-header {
	width: 170px;
	margin: 0 auto 12px;
	padding-top: 40px
}

.success-box-header img {
	float: left;
	margin-right: 10px
}

.success-box-header p {
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	color: #3dbdc7
}

.service-call {
	margin-bottom: 25px
}

.service-call p {
	font-size: 18px;
	color: #999;
	text-align: center
}

.read-btn {
	width: 162px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	border: 1px solid #3dbdc7;
	text-align: center;
	color: #3dbdc7;
	border-radius: 50px;
	font-size: 20px;
	cursor: pointer
}

.modal-content {
	width: 448px
}

.m-myroom .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	font-size: 32px;
	font-weight: 400
}

.m-myroom .modal-header {
	margin-top: 25px;
	padding-bottom: 0;
	border: none
}

.m-myroom .modal-content {
	padding: 0 25px;
	border-radius: 10px
}

.modal-title {
	text-align: center;
	font-size: 18px
}

.m-myroom .onlineroom {
	position: relative;
	left: 50px;
	width: 510px
}

.m-myroom .sta_tx_b {
	margin-bottom: 20px;
	padding: 0 !important;
	border: 1px solid #ddd;
	border-radius: 3px
}

.m-myroom .last-unit {
	margin-bottom: 0
}

.m-myroom .sta_tx_b1 {
	display: none
}

.m-myroom .sta_tx_b2 {
	width: 100%
}

.m-myroom .sta_tx_b2 input {
	border: none
}

.m-myroom .sta_tx_b2 input+img {
	float: right;
	margin-right: 3px
}

.m-myroom .sta_tx_b2 a {
	display: none
}

.m-myroom .sta_tx_b2 b {
	background: 0 0
}

.m-myroom .sta_tx_b2 b, .m-myroom .sta_tx_b2 strong {
	width: auto;
	height: 20px;
	margin-top: 14px;
	line-height: 20px;
	color: #09bcc5;
	border-left: 1px solid #ddd;
	font-size: 14px;
	padding: 0 25px
}

.m-myroom .sta_tx_b2 b {
	font-weight: 400
}

.m-myroom .sta_tx_b2 strong {
	color: #bbb;
	background: 0 0
}

.m-myroom .pcloginbtnbox {
	width: 100%;
	margin: 0 auto
}

.m-myroom .pcloginbtnbox a {
	height: 50px;
	line-height: 50px;
	color: #fff;
	border-radius: 200px;
	background: #3ebcc6
}

.m-myroom .pcloginbtnbox a:hover {
	background: #59c8cb
}

.m-myroom .telred a {
	color: #09bcc5
}

.footer {
	margin-top: 0
}

.success-layer-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0)
}

.success-inner {
	box-sizing: border-box;
	position: relative;
	width: 448px;
	height: 508px;
	margin: 25px auto 0;
	padding-top: 274px;
	background: url(img/public-20180609-FiABMK0i7IAEUAqquIXWM2VAWUYG.png)
		/*tpa=https://public.wutongwan.org/public-20180609-FiABMK0i7IAEUAqquIXWM2VAWUYG*/
		 no-repeat center center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	transition: transform ease-out .6s, opacity ease-in .1s;
	transform: translate(0, -130%);
	opacity: 0
}

.success-tip-off {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 20px;
	height: 20px;
	background: url(img/public-20180609-FkLEAriXYapI5pK_LUnIUagi0BX5.png)
		/*tpa=https://public.wutongwan.org/public-20180609-FkLEAriXYapI5pK_LUnIUagi0BX5*/
		 no-repeat center center;
	cursor: pointer
}

.success-inner-steps h3 {
	margin-bottom: 30px;
	font-size: 14px;
	color: #999;
	text-align: center
}

.success-inner-steps ul {
	padding: 0 41px
}

.success-inner-steps li {
	position: relative;
	float: left;
	margin-right: 58px;
	font-size: 12px;
	color: #999
}

li.third-steps-show {
	margin-right: 0
}

li.fourth-steps-show {
	float: right;
	margin-right: 0
}

.success-inner-steps li:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 18px;
	width: 10px;
	height: 10px;
	background: #ebeaea;
	border-radius: 100%
}

.success-inner-steps li:after {
	content: "";
	position: absolute;
	top: -8px;
	left: 28px;
	width: 96px;
	height: 2px;
	background: #ebeaea
}

li.fourth-steps-show:after {
	height: 0;
	display: none
}

.qrcode-area {
	width: 92px;
	margin: 30px auto 0
}

.qrcode-area img {
	display: block;
	width: 100%;
	height: 92px;
	margin-bottom: 8px
}

.qrcode-area p {
	color: #999;
	text-align: center;
	font-size: 14px;
	line-height: 1.2
}