.td1_input{
 	width: 98%; 
   	height: 30px;
	border: 1px solid #cccccc;
}
.td2_input{
	width: 19% ;
	height: 30px;
	background-color: #f4f4f4 ;
    border: 1px solid #cccccc;
    text-align: center;
}
.td3_input{
	width: 70% ;
	height: 30px;
	border: 1px solid #cccccc;
}
.td1_font{
	color: red ;
}
.td2_font{
	color: #b6b6b6 ;
    size: 2px ;
}
.td1_button{
	border: 1px solid #CCCCCC ;
	background-color: white;
	font-family: "新宋体";
}
.td2_button{
	color: white;
	background-color: #E33A3D;
	width: 150px ;
	height: 40px ;
	border: none;
	border-radius: 5px ;
}